@import '../styles/constants.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-xl;
  text-align: center;
  padding: $size-lg;

  .app-aboutMe-container {
    width: 100%;
    background-color: $background-gray2;
    border-radius: $size-lg;
    padding: $size-md;
  }
}