//COLORS
$primary: #b1aba0; // Rojo
$primary-light: lighten($primary, 10%); // 10% más claro que el primario
$primary-lighter: lighten($primary, 20%); // 20% más claro que el primario
$primary-dark: darken($primary, 10%); // 10% más oscuro que el primario
$primary-darker: darken($primary, 20%); // 20% más oscuro que el primario

$secondary: #E7D4B5; // Azul
$secondary-light: lighten($secondary, 10%); // 10% más claro que el secundario
$secondary-lighter: lighten($secondary, 20%); // 20% más claro que el secundario
$secondary-dark: darken($secondary, 10%); // 10% más oscuro que el secundario
$secondary-darker: darken($secondary, 20%); // 20% más oscuro que el secundario

$tertiary: #B6C7AA; // Azul
$tertiary-light: lighten($tertiary, 10%); // 10% más claro que el secundario
$tertiary-lighter: lighten($tertiary, 20%); // 20% más claro que el secundario
$tertiary-dark: darken($tertiary, 10%); // 10% más oscuro que el secundario
$tertiary-darker: darken($tertiary, 20%); // 20% más oscuro que el secundario




$background-gray: #F5F5F5;
$background-gray2: #e6dfdf;
$white: #ffffff;
$black: #000000;



//SIZE
$size-xs: 2px;
$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 32px;
$size-xxl: 64px;


//SCREEN
$screen-xl: 1200px;
$screen-md: 768px;
$screen-sm: 578px;