@import '../../../styles/constants.scss';

.project-container {
    background-color: $secondary-lighter;
    border-radius: $size-md;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    max-width: 550px;

    .image-wrapper {
        overflow: hidden;
        border-radius: $size-md $size-md 0 0;

        >a {

            >img {
                border-radius: $size-md $size-md 0 0;
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: top;
            }

            &:hover {
                >img {
                    transform: scale(1.02);
                }
            }
        }
    }

    .info-wrapper {
        padding: 0 $size-lg;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >p {
            font-weight: 800;
            font-size: 18px;
        }

        >a {
            text-decoration: none;
            color: $black;
            background-color: $primary-light;
            padding: $size-sm $size-md;
            border-radius: $size-md;

            >img {
                margin-right: $size-sm;
                width: 10px;
                height: 12px;
            }
        }
    }
}