@import "../../styles/constants.scss";

.navbar-container {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $size-xl;
    border-radius: $size-lg;
    padding: 0 $size-lg;

    >button {
        background-color: transparent;
        border: unset;
        cursor: pointer;
    }
}