@import '../../styles/constants.scss';

.presentation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: $size-xl;
    max-width: $screen-xl;
    width: 100%;

    >img {
        width: 100px;
        height: 100px;
        border-radius: 62px;
    }

    .presentation-wrapper {
        max-width: 500px;
        text-align: start;

        >a {
            text-decoration: unset;
            color: $black;
            background-color: $primary-lighter;
            padding: 8px 16px;
            border-radius: 16px;

            >img {
                width: 10px;
                height: 12px;
                margin-right:4px;
            }
        }
    }
}